<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 px-5 py-3 card-dark shadow rounded-lg mt-5">

      <h2 class="text-center mb-3">Federation Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, required: true, placeholder: "Name", label: false  %>
          <%= f.input :location, required: true, placeholder: "Location", label: false   %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, placeholder: "Email", label: false%>
          <%= f.input :affiliation_price, required: true, placeholder: "Affiliation Price", label: false   %>
          <%= f.input :photo, as: :file %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" }, placeholder: "Password", label: false %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", placeholder: "Confirm password" }, label: false %>
        </div>

        <div class="form-actions d-flex justify-content-between flex-column justify-content-center">
          <%= f.button :submit, "Sign up", class: 'btn btn-primary w-100 mb-3' %>
          <%= link_to "Log in", new_session_path(resource_name), class: "text-center" %>
        </div>
          <% end %>

    </div>
  </div>
</div>
