 <%= link_to competition_path(competition) do  %>
 <div style='position:relative;' class='card-dark grow rounded-lg shadow m-3 p-4 d-flex justify-content-between'>
  <div>
    <h4 class='text-muted'><%= competition.federation.name.upcase %></h4>
    <h3 style='letter-spacing: 2px;'><strong><%= competition.name.upcase %></strong></h3>
    <h5><%= competition.date.strftime("%B %d, %Y") %> in <%= competition.city %></h5>
  </div>
  <div class='d-flex flex-column justify-content-between'>
    <h5><strong>$<%= competition.registration_price %></strong></h5>
  </div>
  <% if Date.today > competition.registration_deadline %>
  <p style='position:absolute; bottom:0px; right:0px; background-color: #DA394B; border-radius: 6px 0 6px 0;' class='px-2 py-1 m-0'><%= competition.registration_deadline.strftime("%d/%m/%Y") %></p>
  <% else %>
  <p style='position:absolute; bottom:0px; right:0px; background-color: #4AC141; border-radius: 6px 0 6px 0;' class='px-2 py-1 m-0'><%= competition.registration_deadline.strftime("%d/%m/%Y") %></p>
  <% end %>
</div>
<% end %>
