<!-- TITLE -->

<div class="container">
  <br>
    <h2>Jiu Jitsu 2020 Summer Olympics</h2>
  <br>
  <div class="tournament-bracket tournament-bracket--rounded">
    <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
      <h3 class="tournament-bracket__round-title">Quarterfinals</h3>
      <ul class="tournament-bracket__list">

        <%= render "competitions/tournament_brackets_item", user: current_user  %>
        <%= render "competitions/tournament_brackets_item", user: current_user  %>
        <%= render "competitions/tournament_brackets_item", user: current_user  %>
        <%= render "competitions/tournament_brackets_item", user: current_user  %>


      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--semifinals">
      <h3 class="tournament-bracket__round-title">Semifinals</h3>
      <ul class="tournament-bracket__list">

        <%= render "competitions/tournament_brackets_item", user: current_user  %>
        <%= render "competitions/tournament_brackets_item", user: current_user  %>

      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--bronze">
      <h3 class="tournament-bracket__round-title">Bronze medal game</h3>
      <ul class="tournament-bracket__list">

        <%= render "competitions/tournament_brackets_item", user: current_user  %>
      </ul>

    </div>
    <div class="tournament-bracket__round tournament-bracket__round--gold">
      <h3 class="tournament-bracket__round-title">Gold medal game</h3>
      <ul class="tournament-bracket__list">
        <%= render "competitions/tournament_brackets_item", user: current_user  %>
      </ul>
    </div>
  </div>
</div>
