<div class="w-100 mb-3" style='height: 300px; background-color: grey;'>
  <div class="container h-100">
    <div class='row d-block px-3 pt-5'>
      <h1>JIU JITSU</h1>
      <%= form_tag competitions_path, class: 'form-inline', method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a competition", size: '30' %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @competitions.each do |competition| %>
      <div class="col-6">
        <div class='dark-card rounded-lg shadow m-3 p-3 d-flex justify-content-between'>
          <div>
            <%= link_to competition_path(competition) do  %>
              <h4 class='text-muted'><%= competition.federation.name.upcase %></h4>
              <h3 style='letter-spacing: 2px;'><strong><%= competition.name.upcase %></strong></h3>
              <h5><%= competition.date %> at <%= competition.address.capitalize %></h5>
              <p class='text-muted'>Registration deadline: <%= competition.registration_deadline %> </p>
            <% end %>
          </div>
            <h5><strong><%= icon('fas', 'trophy') %>  $<%= competition.prize %></strong></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
