<p><%= @competition.name %></p>
<p><%= @competition.address %></p>
<p><%= @competition.federation.name %></p>
<p><%= @competition.date %></p>
<p><%= @competition.registration_deadline %></p>
<p><%= @competition.description %></p>
<p><%= @competition.registration_price %></p>
<p><%= @competition.prize %></p>

<% unless current_federation %>
  <% if @affiliated %>
    <%= link_to 'Register', new_competition_registration_path(@competition) %>
  <% else %>
    <%= link_to 'Affiliate', new_federation_affiliation_path(@competition.federation) %>
  <% end %>
<% end %>

<% if current_federation == @competition.federation %>
  <%= link_to 'Edit Competition', edit_federation_competition_path(@competition) %>
<% end %>
