<div class="container card-dark rounded-lg shadow mt-5 py-4">
  <div class="row justify-content-between align-items-center mx-3">
    <div>
      <h3 class='text-muted'><%= @competition.federation.name.upcase %></h3>
      <h2><strong><%= @competition.name.upcase %></strong></h2>
    </div>
    <% unless current_federation %>
      <% if @affiliated %>
      <%= link_to "Register for $#{@competition.registration_price}", new_competition_registration_path(@competition), class: 'btn btn-primary' %>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal">
          Affiliate
        </button>
      <% end %>
    <% end %>
    <% if current_federation == @competition.federation %>
      <%= link_to 'Edit Competition', edit_federation_competition_path(@competition), class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="row justify-content-between align-items-start mx-3 mb-3">
    <div class="">
      <p><%= @competition.description %></p>
      <p>Address: <%= @competition.address %></p>
      <p>Date: <%= @competition.date.strftime("%d/%m/%Y") %></p>
      <div class='d-flex flex-column justify-content-between'>
        <h5><strong><%= icon('fas', 'trophy') %>  $<%= @competition.prize %></strong></h5>
      </div>
    </div>
    <div>
      <p><%= icon('far','calendar-alt') + ' ' + @competition.registration_deadline.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
  <div class="row mx-3">
    <div class="col-6 p-0">
      <%= form_with(url: competition_path(@competition), method: "get", local: true, class: 'form-inline') do %>
        <%= select_tag(:query, options_for_select(@competition.competition_divisions.map{ |competition_division| competition_division.division.name }), { class: "custom-select flex-grow-1" }) %>
        <%= submit_tag("See Competitiors", { class: 'btn btn-primary' }) %>
      <% end %>
      <% @divisions.each do |cp| %>
      <h5 class='my-3' style='letter-spacing: 2px;'><%= cp.division.name.upcase %></h5>
      <% cp.registrations.each do |registration| %>
        <div class='card-light d-flex align-items-center p-2 rounded'>
          <div class='avatar mr-3' style='background-color: grey;'></div>
          <p class='m-0'><%= registration.user.first_name%> <%= registration.user.last_name%> <%= ('Place: ' + registration.position.position) if !registration.position.nil? %> </p>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="affiliationModal" tabindex="-1" role="dialog" aria-labelledby="affiliationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="affiliationModalLabel">Affiliation to <%= @federation.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to 'Edit profile information', edit_user_registration_path %>
        <%= simple_form_for [@federation, @affiliation] do |f| %>
        <div class="modal-footer">
          <%= f.submit 'Affiliate', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

