<div class="container rounded shadow">
  <div class="row justify-content-between p-3 mt-3">
    <h1><%= @competition.name %></h1>
    <% unless current_federation %>
      <% if @affiliated %>
        <%= link_to 'Register', new_competition_registration_path(@competition), class: 'btn btn-primary' %>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal">
            Affiliate
        </button>
      <% end %>
    <% end %>
    <% if current_federation == @competition.federation %>
      <%= link_to 'Edit Competition', edit_federation_competition_path(@competition), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6">
      <p><%= @competition.address %></p>
      <p><%= @competition.federation.name %></p>
      <p><%= @competition.date %></p>
      <p><%= @competition.registration_deadline %></p>
      <p><%= @competition.description %></p>
      <p><%= @competition.registration_price %></p>
      <p><%= @competition.prize %></p>
    </div>
  </div>
</div>


<%= form_with(url: competition_path(@competition), method: "get", local: true) do %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<% @divisions.each do |cp| %>
  <div>
    <%= cp.division.name %>
  </div>
  <div>
    <% cp.registrations.each do |registration| %>
        <p><%= registration.user.first_name%></p>
        <p><%= registration.position.position if !registration.position.nil? %></p>
    <% end %>
  </div>
<% end %>

<div class="modal fade" id="affiliationModal" tabindex="-1" role="dialog" aria-labelledby="affiliationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="affiliationModalLabel">Affiliation to <%= @federation.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to 'Edit profile information', edit_user_registration_path %>
        <%= simple_form_for [@federation, @affiliation] do |f| %>
          <%= f.submit 'Affiliate' %>
          <div class="modal-footer">
            <%= f.submit 'Affiliate', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

