<% @competitions.each do |competition| %>
  <%= link_to competition_path(competition) do  %>
      <div class="col-7 pl-4">
        <h6 class='text-muted'style='letter-spacing: 3px;'><%= competition.name.upcase %></h6>
        <h2><%= competition.address.capitalize %> lesson at <%= competition.date %></h2>
        <p id="time"><strong><%= competition.description %> from <%= competition.prize %>:00 to <%= competition.registration_deadline %>:00</strong></p>
        <p><%= competition.registration_price %> places remaining</p>
      </div>
  <% end %>
<% end %>

