<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 col-md-6 col-xl-4 p-4 card-dark rounded-lg text-center shadow">
      <i style='font-size: 65px;' class="far fa-check-circle mb-3"></i>
      <h3>Payment confirmation</h3>
      <ul class="list-unstyled">
        <li>
          <div class="d-flex justify-content-between">
            <div class='text-muted'>ORDER №</div>
            <div><%= @order.id %></div> <!-- <small><span class="badge badge-success"><%= @order.state %></span></small> -->
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div class='text-muted'>ISSUED ON</div>
            <div><%= @order.created_at.to_date %></div>
          </div>
        </li>
        <% if @order.registration %>
        <li>
          <div class="d-flex justify-content-between">
            <div class='text-muted'>COMPETITION:</div>
            <div><%= @order.registration.competition.name %></div>
          </div>
        </li>
        <% else %>
        <li>
          <div class="d-flex justify-content-between">
            <div class='text-muted'>AFFILIATION TO</div>
            <div><%= @order.affiliation.federation.name %></div>
          </div>
        </li>
        <% end %>
        <li>
          <div class="d-flex justify-content-between">
            <div class='text-muted'>TOTAL</div>
            <div><%= humanized_money_with_symbol @order.amount %></div>
          </div>
        </li>
      </ul>
      <% if @order.registration %>
        <%= link_to "See competition details", competition_path(@order.registration.competition), class: "btn btn-primary" %>
      <% else %>
        <%= link_to "See federation details", federation_path(@order.affiliation.federation), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
