
<div class="banner d-none d-lg-block ">
    <div id="carouselbanner" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="https://www.meukimono.com.br/img/cms/imagens_pequenas_para_artigos/Arm-Lock-Jiu-Jitsu-2.jpg" class="d-block w-100" alt="JiuJitsu">
        </div>

        <div class="carousel-item">
          <img src="https://photoresources.wtatennis.com/photo-resources/2020/01/10/e88cf90b-561e-4df4-8968-628542e74775/GettyImages-1192592007.jpg?width=1440&height=797"class="d-block w-100" alt="tennis">
        </div>

        <div class="carousel-item">
          <img src="https://www.sportlife.com.br/wp-content/uploads/2016/07/Running-Nike.jpeg" class="d-block w-100" alt="Running">
        </div>

         <div class="carousel-item">
          <img src="https://www.ussportscamps.com/media/images/swim/nike/camps/_1024x600_crop_center-center_100_none/2019-swim-camps.jpg"class="d-block w-100" alt="swimming">
        </div>

         <div class="carousel-item">
          <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcdn.newsapi.com.au%2Fimage%2Fv1%2F4cedb2e2d568b2a0178997cd0f76e38a"class="d-block w-100" alt="surf">
        </div>

      </div>
    </div>
</div>


  <div class="banner d-none d-lg-flex align-items-center" style="position: absolute; top: 100px; z-index: 2; background-image: linear-gradient(90deg, rgba(14,14,14,1) 20%, rgba(14,14,14,0.8) 60%, rgba(14,14,14,0.3))">
    <div class='from-left' style='margin-left: 115px; width: 50%;'>
      <h1 style='font-size: 69px; font-weight: bold;' class='mb-5'><strong>Unleash the champion inside <br>of you!</strong></h1>
      <p style='font-size: 27px;letter-spacing: 1px; font-weight: lighter; opacity: 0.5' class='mb-5'>Affiliate to federations and register<br> to competitions in a couple of clicks.</p>
      <div class="d-flex justify-content-start">
        <a class='btn btn-main mr-3 px-4 py-3' style='background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);' href="#sports">Get started</a>
        <%= link_to "For federations", new_federation_session_path, class: 'btn btn-main mx-3 px-4 py-3', style: 'background-color: rgba(255,255,255,0.15);' %>
      </div>
    </div>
  </div>

  <section id="sports">
    <div class="container pt-5">

<!-- Card JiuJitsu -->

    <div class="row justify-content-between">
      <div class="col-12 col-md-4 mb-5">
        <%= link_to competitions_path do %>
          <div class="w-100 rounded-lg card-category card-jiujitsu d-flex flex-column align-items-center justify-content-center px-4 py-5">
              <i style='font-size: 80px;' class="fas fa-child mb-3"></i>
            <span>JiuJitsu</span>
          </div>
        <% end %>
      </div>

<!-- Card Tennis -->

      <div class="col-12 col-md-4 mb-5">
        <div class="w-100 rounded-lg card-category card-tennis d-flex flex-column align-items-center justify-content-center px-4 py-5">
          <i style='font-size: 80px;' class="fas fa-table-tennis mb-3"></i>
          <span>Tennis</span>
        </div>
      </div>

<!-- Card Running -->

      <div class="col-12 col-md-4 mb-5">
        <div class="w-100 rounded-lg card-category card-running d-flex flex-column align-items-center justify-content-center px-4 py-5">
            <i style='font-size: 80px;' class="fas fa-running mb-3"></i>
          <span class="disableBlur">Running</span>
        </div>
      </div>
  </div>

<!-- Card Swimming -->

    <div class="row justify-content-between">
      <div class="col-12 col-md-4 mb-5">
        <%= link_to competitions_path do %>
          <div class="w-100 rounded-lg card-category card-swimming d-flex flex-column align-items-center justify-content-center px-4 py-5">
              <i style='font-size: 80px;' class="fas fa-swimmer mb-3"></i>
            <span>Swimming</span>
          </div>
        <% end %>
      </div>

<!-- Card Golf -->

      <div class="col-12 col-md-4 mb-5">
        <div class="w-100 rounded-lg card-category card-golf d-flex flex-column align-items-center justify-content-center px-4 py-5">
          <i style='font-size: 80px;' class="fas fa-golf-ball mb-3"></i>
          <span>Golf</span>
        </div>
      </div>

<!-- Card Volleyball -->

      <div class="col-12 col-md-4 mb-5">
        <div class="w-100 rounded-lg card-category card-volleyball d-flex flex-column align-items-center justify-content-center px-4 py-5">
            <i style='font-size: 80px;' class="fas fa-snowboarding mb-3"></i>
          <span class="disableBlur">Surf</span>
        </div>
      </div>
  </div>

  <div class='col-12 d-flex justify-content-between d-lg-none mb-5'>
    <%= link_to "I'm a competitor", new_user_session_path, class: 'btn btn-primary mr-1 px-4 py-3', style: 'background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);' %>
    <%= link_to "I'm a federation", new_federation_session_path, class: 'btn ml-1 px-4 py-3', style: 'background-color: rgba(255,255,255,0.15); border-radius: 6px;' %>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<style>
  .from-left {
    position: absolute;
    animation: slide 1s;
  }

  @keyframes slide {
  0%   {right: 1000px;}
  100% {right: 605px;}
}

</style>

