
<div class="landing_page">
  <div class="banner">
    <div id="carouselbanner" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="https://i2.wp.com/deltagrade.com/wp-content/uploads/2016/09/rvcaXsyr.jpg?fit=1600%2C1066&ssl=1" class="d-block w-100" alt="JiuJitsu">
          <div class="carousel-caption d-none d-md-block" >
            <%= image_tag asset_path('competeLOGO.png'), style: 'width: 290px; height: 290px;' %>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1545809074-59472b3f5ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"class="d-block w-100" alt="tennis">
          <div class="carousel-caption d-none d-md-block">
            <%= image_tag asset_path('competeLOGO.png'), style: 'width: 290px; height: 290px;' %>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://nit.pt/wp-content/uploads/2019/06/b5edd99effdba538c573f188a1c59796.jpg" class="d-block w-100" alt="Running">
          <div class="carousel-caption d-none d-md-block">
            <%= image_tag asset_path('competeLOGO.png'), style: 'width: 290px; height: 290px;' %>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- Card JiuJitsu -->

  <div class="container my-5">
    <!-- <div class="cards"> -->
    <div class="row justify-content-between">
      <div class="col-4">
        <%= link_to competitions_path do %>
          <div class="w-100 card-category card-jiujitsu d-flex align-items-center justify-content-center">
            JiuJitsu
          </div>
        <% end %>
      </div>

<!-- Card Tennis -->

      <div class="col-4">
        <div class="w-100 card-category card-tennis d-flex align-items-center justify-content-center">
          Tennis
        </div>
      </div>

<!-- Card Running -->

      <div class="col-4">
        <div class="w-100 card-category card-running d-flex align-items-center justify-content-center">
          <span class="disableBlur">Running</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
      <!-- COMPETE · ALL RIGHTS RESERVED -->
     <%= image_tag asset_path('logobranco.png'), style: 'width: 65px; height: 65px;' %>
  </div>
</div>

