<div class="container mt-5">
  <div class="row justify-content-between mb-4">
    <div class="col-4">
    <div class="card-dark card-stats profile-cards rounded-lg p-4 h-100">
      <h3 class='mb-3'><i class="far fa-chart-bar mr-3"></i> My Stats</h3>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, class: "avatar-large m-3")%>
      <% else %>
        <div class='avatar-large m-3' style='background-color: grey;'></div>
      <% end %>
    </div>
    </div>
    <div class="col-8">
      <div class='card-dark rounded-lg p-4 h-100'>
        <%= month_calendar(events: @registrations) do |date, registrations| %>
           <%= date.day %>
          <% registrations.each do |registration| %>
            <!-- <div><%= registration.competition_division.competition.name %></div> -->
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-between mb-5">
    <div class="col-6">
    <div class="card-dark profile-cards card-affiliations rounded-lg p-4 h-100">
      <h3 class='mb-3'><i class="fas fa-id-card mr-3"></i>My Affiliations</h3>
      <% @affiliations.each do |affiliation| %>
          <%= link_to federation_path(affiliation.federation) do %>
            <div class='card-light d-flex align-items-center p-3 rounded mb-3'>
              <% if affiliation.days_since_registration > 335 %>
              <div><p> Your affiliation will expire in <%= 365 - affiliation.days_since_registration  %> days</p></div>
              <% end %>
              <% if affiliation.federation.photo.attached? %>
                <%= cl_image_tag(affiliation.federation.photo.key, class: "avatar-large mr-4")%>
              <% else %>
                <div class='avatar-large mr-4' style='background-color: grey;'></div>
              <% end %>
              <h4><%= affiliation.federation.name %></h4>
            </div>
          <% end %>
      <% end %>
    </div>
    </div>
    <div class="col-6">
    <div class="card-dark card-registrations profile-cards rounded-lg p-4 h-100">
      <h3 class='mb-3'><i class="fas fa-trophy mr-3"></i>My Competitions</h3>
      <% @registrations.each do |registration| %>
          <%= link_to competition_path(registration.competition_division.competition) do %>
              <p class='btn btn-primary mb-3 w-100'><strong><%= registration.competition_division.competition.name %></strong> - <%= registration.competition_division.division.name.upcase %></p>
          <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

