<div class="container card-dark rounded-lg shadow mt-5 p-4">
  <div class="row mx-3 justify-content-between">
    <div class="d-flex">
        <% if @federation.photo.attached? %>
          <%= cl_image_tag(@federation.photo.key, class: "avatar-large mr-4")%>
        <% else %>
      <div class='avatar-large mr-4' style='background-color: grey;'></div>
      <% end %>
      <div>
        <h3><%= @federation.name %></h3>
        <h4 class='text-muted'><%= @federation.location %></h4>
      </div>
    </div>
    <% if !@affiliated %>
      <button style='height: 40px;' type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal">
        Affiliate
      </button>
    <% end %>
  </div>
  <div class="row justify-content-around">
    <% @competitions.each do |competition| %>
      <div class="col-5">
        <%= link_to competition_path(competition) do  %>
          <div style='position:relative;' class='card-light rounded-lg shadow m-3 p-3 d-flex justify-content-between'>
            <div>
              <h3 style='letter-spacing: 2px;'><strong><%= competition.name.upcase %></strong></h3>
              <h5><%= competition.date.strftime("%d/%m/%Y") %> at <%= competition.address.capitalize %></h5>
            </div>
            <div class='d-flex flex-column justify-content-between'>
              <h5><strong><%= icon('fas', 'trophy') %>  $<%= competition.prize %></strong></h5>
            </div>
            <p style='position:absolute; bottom:0px; right:0px; background-color: #DE412A; border-radius: 6px 0 6px 0;' class='px-2 py-1 m-0'><%= competition.registration_deadline.strftime("%d/%m/%Y") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Affiliation Modal -->

<div class="modal fade" id="affiliationModal" tabindex="-1" role="dialog" aria-labelledby="affiliationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="affiliationModalLabel">Affiliation to <%= @federation.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to 'Edit profile information', edit_user_registration_path %>
        <%= simple_form_for [@federation, @affiliation] do |f| %>
        <div class="modal-footer">
          <%= f.submit 'Affiliate', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
