<div class=" card-dark rounded-lg shadow mt-5 p-4">
  <div class="row mx-3 justify-content-between">
    <div class="d-flex">
      <% if @federation.photo.attached? %>
        <%= cl_image_tag(@federation.photo.key, class: "avatar-large mr-4")%>
      <% else %>
        <div class='avatar-large mr-4' style='background-color: grey;'></div>
      <% end %>
      <div>
        <h3><%= @federation.name %></h3>
        <h4 class='text-muted'><%= @federation.location %></h4>
      </div>
    </div>
    <% unless current_federation %>
      <% if !@affiliated  %>
        <button style='height: 40px;' type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal">
          Affiliate
        </button>
      <% else %>
        <button style='height: 40px;' type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#affiliationModal">
          You are already affiliated
        </button>
      <% end %>
    <% end %>
  </div>

  <div class="slider mb-5">
    <div class="d-flex justify-content-center">
      <% @competitions.each do |competition| %>
       <%= render "competitions/competition_card", competition: competition  %>
     <% end %>
   </div>
 </div>

 <div class="row mx-3 mb-5 justify-content-center">
  <div class='col-12 col-lg-6'>
    <%= form_with(url: federation_path(@federation), method: "get", local: true, class: 'd-flex') do %>
      <%= select_tag(:query, options_for_select(Division.all.map{ |division| [division.name, division.id] }), { class: "custom-select flex-grow-1", style: 'border-radius: 20px 0 0 20px; background-color: rgb(80,80,80); border: 0; color: white;' }) %>
      <%= submit_tag("See Leaderboard", { class: 'px-3', style: 'color: white; border-radius: 0 20px 20px 0; background:linear-gradient(135deg, #D76420 0%,#DE412A 100%); border: 0; height: 38px;' }) %>
    <% end %>
  </div>
 </div>

 <% if @user_federation_division_scores %>
  <h5 class='d-none d-md-block my-3 text-center' style='letter-spacing: 2px;'><%= Division.find(params[:query]).name.upcase %></h5>
  <div class="row mx-3 justify-content-center">
    <div class='col-12 col-md-8'>
      <% @user_federation_division_scores.each_with_index do |user_federation_division_score, index| %>
        <div class='rounded mb-2 d-flex justify-content-between align-items-center'>
          <% if index + 1 == 1 %>
            <div class='d-flex align-items-center justify-content-center p-3' style='height: 75px !important; width: 75px !important; background:linear-gradient(135deg, rgba(255,148,7,1) 50%, rgba(255,216,83,1) 100%); border-radius: 4px 0 0 4px;'>
          <% elsif index + 1 == 2 %>
            <div class='d-flex align-items-center justify-content-center p-3' style='height: 75px !important; width: 75px !important; background:linear-gradient(135deg, #E3E3E3 0%,#5D6874 100%); border-radius: 4px 0 0 4px;'>
          <% elsif index + 1 == 3 %>
            <div class='d-flex align-items-center justify-content-center p-3' style='height: 75px !important; width: 75px !important; background:linear-gradient(135deg, #994d00 0%,#ba8653 100%); border-radius: 4px 0 0 4px;'>
          <% else %>
            <div class='d-flex align-items-center justify-content-center p-3' style='height: 75px !important; width: 75px !important; background-color: rgb(85,85,85); border-radius: 4px 0 0 4px;'>
          <% end %>
            <h4 class='p-3'><%= index + 1 %></h4>
          </div>
            <div style='height: 75px !important;' class="p-3 d-flex align-items-center card-light h-100 flex-grow-1" data-toggle="tooltip" data-html="true" data-placement="top" title="<strong> Age: <%= user_federation_division_score.user.age  %> <br> Nationality: <%= user_federation_division_score.user.nationality  %> <br> Team: <%= user_federation_division_score.user.affiliations.where(federation: @federation).first.team %> <br> Wins: <%= user_federation_division_score.user.win_count %> <br> Losses: <%= user_federation_division_score.user.loss_count %> </strong>">
              <div class='d-none d-md-flex'>
                <%= user_federation_division_score.user.photo.attached? ? cl_image_tag(user_federation_division_score.user.photo.key, class: "avatar mx-2") : "<div class='avatar mr-2' style='background-color: grey;'></div>" %>
              </div>
              <%= user_federation_division_score.user.first_name + ' ' + user_federation_division_score.user.last_name %>
            </div>
            <div class='d-flex align-items-center justify-content-center p-3' style='height: 75px !important; width: 75px !important; background-color: rgb(85,85,85); border-radius: 0 4px 4px 0;'>
              <h5 class='text-center'><%= user_federation_division_score.score %></h5>
            </div>
        </div>
      <% end %>
    </div>
  </div>
 <% end %>
</div>

<!-- Affiliation Modal -->

<div class="modal fade" id="affiliationModal" tabindex="-1" role="dialog" aria-labelledby="affiliationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="affiliationModalLabel">Affiliate to <%= @federation.name %> for $<%= @federation.affiliation_price %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= link_to 'Edit profile information', edit_user_registration_path, class: 'btn btn-primary mb-3', style: 'color: white;' %>
        <%= simple_form_for [@federation, @affiliation] do |f| %>
          <%= f.input :team, placeholder: "Team", label: false %>
        <div class="modal-footer mt-3">
          <%= f.submit 'Confirm affiliation and pay', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
