<div class="container card-dark rounded-lg shadow mt-5 p-4">
  <div class="row mx-3 justify-content-between">
    <div class="d-flex">
      <% if @federation.photo.attached? %>
        <%= cl_image_tag(@federation.photo.key, class: "avatar-large mr-4")%>
      <% else %>
        <div class='avatar-large mr-4' style='background-color: grey;'></div>
      <% end %>
      <div>
        <h3><%= @federation.name %></h3>
        <h4 class='text-muted'><%= @federation.location %></h4>
      </div>
    </div>
    <% if !@affiliated %>
      <button style='height: 40px;' type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal">
        Affiliate
      </button>
    <% end %>
  </div>
  <div class="slider">
    <div class="d-flex justify-content-center">
      <% @competitions.each do |competition| %>
          <%= link_to competition_path(competition) do  %>
            <div style='position:relative; width: 400px;' class='card-light grow rounded-lg shadow m-3 p-3 d-flex justify-content-between'>
              <div class='mb-3'>
                <h3 style='letter-spacing: 2px;'><strong><%= competition.name.upcase %></strong></h3>
                <h5><%= competition.date.strftime("%d/%m/%Y") %> at <%= competition.address.capitalize %></h5>
              </div>
              <div class='d-flex flex-column justify-content-between'>
                <h5 style=" white-space: nowrap; overflow: hidden;"><strong>$<%= competition.prize %> <%= icon('fas', 'trophy') %></strong></h5>
              </div>
              <% if Date.today > competition.registration_deadline %>
                  <p style='position:absolute; bottom:0px; right:0px; background-color: #FA1616; border-radius: 6px 0 6px 0;' class='px-2 py-1 m-0'><%= competition.registration_deadline.strftime("%d/%m/%Y") %></p>
              <% else %>
                  <p style='position:absolute; bottom:0px; right:0px; background-color: #02c48a; border-radius: 6px 0 6px 0;' class='px-2 py-1 m-0'><%= competition.registration_deadline.strftime("%d/%m/%Y") %></p>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mx-3 justify-content-center">
    <div class='col-6'>
    <%= form_with(url: federation_path(@federation), method: "get", local: true, class: 'form-inline') do %>
      <%= select_tag(:query, options_for_select(Division.all.map{ |division| [division.name, division.id] }), { class: "custom-select flex-grow-1", style: 'border-radius: 20px 0 0 20px; background-color: rgb(80,80,80); border: 0; color: white;' }) %>
      <%= submit_tag("See Competitiors", { class: 'px-3', style: 'color: white; border-radius: 0 20px 20px 0; background:linear-gradient(135deg, #D76420 0%,#DE412A 100%); border: 0; height: 38px;' }) %>
    <% end %>
    <% if @user_federation_division_scores %>
    <h5 class='my-3 text-center' style='letter-spacing: 2px;'><%= Division.find(params[:query]).name.upcase %></h5>
    </div>
  </div>
  <div class="row mx-3 justify-content-center">
    <div class='col-8'>
      <% @user_federation_division_scores.each_with_index do |user_federation_division_score, index| %>
        <div class='card-light rounded mb-1 d-flex justify-content-between align-items-center p-3'>
          <div class="d-flex align-items-center">
            <%= index + 1 %><%= user_federation_division_score.user.photo.attached? ? cl_image_tag(user_federation_division_score.user.photo.key, class: "avatar mx-2") : "<div class='avatar mr-2' style='background-color: grey;'></div>" %><%= user_federation_division_score.user.first_name + ' ' + user_federation_division_score.user.last_name %>
          </div>
           <%= user_federation_division_score.score %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<!-- Affiliation Modal -->

<div class="modal fade" id="affiliationModal" tabindex="-1" role="dialog" aria-labelledby="affiliationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="affiliationModalLabel">Affiliation to <%= @federation.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= link_to 'Edit profile information', edit_user_registration_path, class: 'btn btn-primary', style: 'color: white;' %>
        <%= simple_form_for [@federation, @affiliation] do |f| %>
        <div class="modal-footer mt-3">
          <%= f.submit 'Confirm affiliation', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
